h1 {
  font-size: 32px;
}

header {
  height: 70px;
  background-color: aliceblue;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.397);
}

header > div {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

header ul {
  width: 250px;
  display: flex;
  justify-content: space-around;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 4px 5px black;
  margin: 20px 0;
  border-radius: 30px;
}

input,
button {
  height: 35px;
  border: none;
}

input {
  width: 200px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

button {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: radial-gradient(
    red,
    green,
    rgba(0, 0, 255, 0.461),
    yellow,
    purple,
    indigo
  );
  color: white;
  font-size: 18px;
  font-weight: 900;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}
span {
  display: inline-block;
  animation: rota 3s linear infinite forwards;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
